body {
  width: 100%;
  height: 100%;
  background-image: url("Imagenes/ciberseguridad\ 2.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden padding:hidden;
}

.texto {
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
  text-align: center;
}

.p {

  background-color: rgb(42, 61, 61);
  border-style: outset;
  border-radius: 5px
}

.h5 {
  background-color: rgb(42, 61, 61);
  
}

.label_fecha {

  color: aliceblue;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container_flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}

.container_flex>section {
  width: 700px;
  height: 400px;
  margin: 10px;
  text-align: left;

}

.texto_modificado {
  width: 630px;
  height: 220px;
  border: 0.5ch;
  border-radius: 5px
}

.texto_original {
  width: 630px;
  height: 220px;
  border: 0.5ch;
  border-radius: 5px
}



.label_formulaDes {
  color: aliceblue;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.label_clave {
  color: aliceblue;
  width: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  margin-bottom: 0%;
  margin-top: 5px;



}

.input_clave {
  margin-top: 0%;
}

.submit_codi {

  font-size: medium;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;


}

.submit_descodi {

  font-size: medium;
  padding: 5px 10px;
  text-align: center;
  margin-top: 60px;

}